-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: rlife
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin_audit_log`
--

DROP TABLE IF EXISTS `admin_audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_audit_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `admin_user_id` int(11) NOT NULL,
  `action_type` varchar(50) NOT NULL,
  `target_type` varchar(50) DEFAULT NULL,
  `target_id` int(11) DEFAULT NULL,
  `description` longtext DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_admin_user` (`admin_user_id`),
  CONSTRAINT `FK_AUDIT_ADMIN_USER` FOREIGN KEY (`admin_user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=100 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_audit_log`
--

LOCK TABLES `admin_audit_log` WRITE;
/*!40000 ALTER TABLE `admin_audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_email_log`
--

DROP TABLE IF EXISTS `admin_email_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_email_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `admin_user_id` int(11) NOT NULL,
  `recipient_type` varchar(50) NOT NULL,
  `subject` varchar(255) NOT NULL,
  `message` longtext DEFAULT NULL,
  `recipient_count` int(11) NOT NULL,
  `sent_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_admin_user` (`admin_user_id`),
  KEY `idx_sent_at` (`sent_at`),
  CONSTRAINT `FK_EMAIL_ADMIN_USER` FOREIGN KEY (`admin_user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_email_log`
--

LOCK TABLES `admin_email_log` WRITE;
/*!40000 ALTER TABLE `admin_email_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_email_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assignment`
--

DROP TABLE IF EXISTS `assignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assignment` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `project_id` int(11) NOT NULL,
  `titre` varchar(255) NOT NULL,
  `description` longtext NOT NULL,
  `date_debut` date DEFAULT NULL,
  `date_fin` date DEFAULT NULL,
  `priorite` varchar(50) NOT NULL,
  `statut` varchar(50) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `IDX_30C544BAA76ED395` (`user_id`),
  KEY `IDX_30C544BA166D1F9C` (`project_id`),
  CONSTRAINT `FK_30C544BA166D1F9C` FOREIGN KEY (`project_id`) REFERENCES `project` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_ASSIGNMENT_USER` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assignment`
--

LOCK TABLES `assignment` WRITE;
/*!40000 ALTER TABLE `assignment` DISABLE KEYS */;
/*!40000 ALTER TABLE `assignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assignment_collaborator`
--

DROP TABLE IF EXISTS `assignment_collaborator`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assignment_collaborator` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `assignment_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `assigned_by_user_id` int(11) NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_2C120A4ED19302F8` (`assignment_id`),
  KEY `IDX_2C120A4EA76ED395` (`user_id`),
  KEY `IDX_2C120A4EE43D4745` (`assigned_by_user_id`),
  CONSTRAINT `FK_2C120A4EA76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_2C120A4ED19302F8` FOREIGN KEY (`assignment_id`) REFERENCES `assignment` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_2C120A4EE43D4745` FOREIGN KEY (`assigned_by_user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assignment_collaborator`
--

LOCK TABLES `assignment_collaborator` WRITE;
/*!40000 ALTER TABLE `assignment_collaborator` DISABLE KEYS */;
INSERT INTO `assignment_collaborator` VALUES (1,4,25,24,'2026-02-18 13:25:51');
/*!40000 ALTER TABLE `assignment_collaborator` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `career`
--

DROP TABLE IF EXISTS `career`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `career` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `name` varchar(255) NOT NULL,
  `description` longtext DEFAULT NULL,
  `priority` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_B25B6C84A76ED395` (`user_id`),
  CONSTRAINT `FK_B25B6C84A76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `career`
--

LOCK TABLES `career` WRITE;
/*!40000 ALTER TABLE `career` DISABLE KEYS */;
/*!40000 ALTER TABLE `career` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coin_transaction`
--

DROP TABLE IF EXISTS `coin_transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `coin_transaction` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `amount` int(11) NOT NULL,
  `reason` varchar(255) NOT NULL,
  `created_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`),
  KEY `IDX_6B452399A76ED395` (`user_id`),
  CONSTRAINT `FK_6B452399A76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coin_transaction`
--

LOCK TABLES `coin_transaction` WRITE;
/*!40000 ALTER TABLE `coin_transaction` DISABLE KEYS */;
INSERT INTO `coin_transaction` VALUES (1,24,50,'Tâche terminée avant échéance : petttest','2026-02-17 21:35:32'),(2,24,50,'Tâche terminée avant échéance : presentation','2026-02-17 21:37:32'),(3,24,50,'Tâche terminée avant échéance : love','2026-02-17 22:55:13'),(4,24,50,'Tâche terminée avant échéance : cccccccccc','2026-02-18 01:56:38'),(5,25,50,'Tache terminee avant echeance : cccccccccc','2026-02-18 13:17:40');
/*!40000 ALTER TABLE `coin_transaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comment`
--

DROP TABLE IF EXISTS `comment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comment` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `assignment_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `content` longtext NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_9474526CD19302F8` (`assignment_id`),
  KEY `IDX_9474526CA76ED395` (`user_id`),
  CONSTRAINT `FK_9474526CA76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_9474526CD19302F8` FOREIGN KEY (`assignment_id`) REFERENCES `assignment` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comment`
--

LOCK TABLES `comment` WRITE;
/*!40000 ALTER TABLE `comment` DISABLE KEYS */;
INSERT INTO `comment` VALUES (1,4,24,'love','2026-02-18 13:25:39',NULL),(2,4,25,'sabr','2026-02-18 14:02:54',NULL),(3,4,24,'sfer','2026-02-18 14:06:50',NULL),(4,4,24,'VVVVVVVVVVVV','2026-02-18 14:10:56',NULL),(5,4,24,':::::::::::::::::::::::','2026-02-18 14:27:54',NULL),(6,4,25,'bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb','2026-02-18 14:29:55',NULL);
/*!40000 ALTER TABLE `comment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coping_session`
--

DROP TABLE IF EXISTS `coping_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `coping_session` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `tool_key` varchar(50) NOT NULL,
  `tool_name` varchar(120) NOT NULL,
  `duration_seconds` int(11) NOT NULL,
  `actual_seconds` int(11) DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `started_at` varchar(255) NOT NULL,
  `finished_at` varchar(255) DEFAULT NULL,
  `created_at` varchar(255) NOT NULL,
  `updated_at` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_3155C679A76ED395` (`user_id`),
  CONSTRAINT `FK_3155C679A76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coping_session`
--

LOCK TABLES `coping_session` WRITE;
/*!40000 ALTER TABLE `coping_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `coping_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deck`
--

DROP TABLE IF EXISTS `deck`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `deck` (
  `id_deck` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `titre` varchar(255) NOT NULL,
  `matiere` varchar(100) NOT NULL,
  `niveau` varchar(50) NOT NULL,
  `description` longtext DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `pdf` varchar(255) DEFAULT NULL,
  `date_creation` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_deck`),
  KEY `IDX_DECK_USER` (`user_id`),
  CONSTRAINT `FK_DECK_USER` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deck`
--

LOCK TABLES `deck` WRITE;
/*!40000 ALTER TABLE `deck` DISABLE KEYS */;
INSERT INTO `deck` VALUES (6,3,'base donne','sql','ff','fffffff','5b0d623470ea295a8e665c29bcb71f94.png',NULL,'2026-02-08 01:29:32'),(13,3,'mymy','nnn','5',NULL,'71cae85948b2b541b26177d7fc941dcf.jpg',NULL,'2026-02-10 14:48:57'),(15,3,'ola','aaaa','aaa','aaaa',NULL,NULL,'2026-02-16 23:24:56');
/*!40000 ALTER TABLE `deck` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctrine_migration_versions`
--

DROP TABLE IF EXISTS `doctrine_migration_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `doctrine_migration_versions` (
  `version` varchar(191) NOT NULL,
  `executed_at` datetime DEFAULT NULL,
  `execution_time` int(11) DEFAULT NULL,
  PRIMARY KEY (`version`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctrine_migration_versions`
--

LOCK TABLES `doctrine_migration_versions` WRITE;
/*!40000 ALTER TABLE `doctrine_migration_versions` DISABLE KEYS */;
INSERT INTO `doctrine_migration_versions` VALUES ('DoctrineMigrations\\Version20260203000742','2026-02-03 20:24:43',245),('DoctrineMigrations\\Version20260211001','2026-02-11 08:01:27',98),('DoctrineMigrations\\Version20260216000000','2026-02-16 07:47:48',109);
/*!40000 ALTER TABLE `doctrine_migration_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eval_mat`
--

DROP TABLE IF EXISTS `eval_mat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eval_mat` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `matiere_id` int(11) NOT NULL,
  `evaluation_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_15147A50F46CD258` (`matiere_id`),
  KEY `IDX_15147A50456C5646` (`evaluation_id`),
  CONSTRAINT `FK_15147A50456C5646` FOREIGN KEY (`evaluation_id`) REFERENCES `evaluation_matiere` (`id_eval`) ON DELETE CASCADE,
  CONSTRAINT `FK_15147A50F46CD258` FOREIGN KEY (`matiere_id`) REFERENCES `matiere` (`id_matiere`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eval_mat`
--

LOCK TABLES `eval_mat` WRITE;
/*!40000 ALTER TABLE `eval_mat` DISABLE KEYS */;
/*!40000 ALTER TABLE `eval_mat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluation_matiere`
--

DROP TABLE IF EXISTS `evaluation_matiere`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluation_matiere` (
  `id_eval` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `score_eval` double NOT NULL,
  `note_maximale_eval` double NOT NULL,
  `date_evaluation` datetime NOT NULL,
  `duree_evaluation` int(11) NOT NULL,
  `priorite_e` varchar(50) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_eval`),
  KEY `IDX_B3074FC0A76ED395` (`user_id`),
  CONSTRAINT `FK_EVALUATION_USER` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluation_matiere`
--

LOCK TABLES `evaluation_matiere` WRITE;
/*!40000 ALTER TABLE `evaluation_matiere` DISABLE KEYS */;
INSERT INTO `evaluation_matiere` VALUES (1,2,85,100,'2026-02-15 10:00:00',120,'High','2026-02-04 08:10:06',NULL),(5,22,1,20,'2026-02-21 03:24:00',50,'low','2026-02-11 03:24:18','2026-02-11 03:26:28'),(6,22,12,20,'2026-02-13 03:26:00',50,'high','2026-02-11 03:26:46',NULL);
/*!40000 ALTER TABLE `evaluation_matiere` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flashcard`
--

DROP TABLE IF EXISTS `flashcard`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `flashcard` (
  `id_flashcard` int(11) NOT NULL AUTO_INCREMENT,
  `id_deck` int(11) NOT NULL,
  `titre` varchar(255) NOT NULL,
  `question` longtext NOT NULL,
  `reponse` longtext NOT NULL,
  `description` longtext DEFAULT NULL,
  `niveau_difficulte` int(11) NOT NULL,
  `etat` varchar(20) NOT NULL,
  `image` varchar(255) DEFAULT NULL,
  `pdf` varchar(255) DEFAULT NULL,
  `date_creation` datetime NOT NULL DEFAULT current_timestamp(),
  `date_modification` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  `created_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_flashcard`),
  KEY `IDX_70511A09E62C7D3` (`id_deck`),
  KEY `IDX_70511A09DE12AB56` (`created_by`),
  CONSTRAINT `FK_70511A09DE12AB56` FOREIGN KEY (`created_by`) REFERENCES `user` (`id`),
  CONSTRAINT `FK_70511A09E62C7D3` FOREIGN KEY (`id_deck`) REFERENCES `deck` (`id_deck`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flashcard`
--

LOCK TABLES `flashcard` WRITE;
/*!40000 ALTER TABLE `flashcard` DISABLE KEYS */;
/*!40000 ALTER TABLE `flashcard` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flashcard_translation`
--

DROP TABLE IF EXISTS `flashcard_translation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `flashcard_translation` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `flashcard_id` int(11) NOT NULL,
  `language` varchar(5) NOT NULL,
  `titre` varchar(255) NOT NULL,
  `question` text NOT NULL,
  `reponse` text NOT NULL,
  `description` text DEFAULT NULL,
  `difficulty_level` smallint(6) DEFAULT NULL,
  `translator_notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `quality_score` smallint(6) DEFAULT NULL,
  `is_verified` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_flashcard_translation_unique` (`flashcard_id`,`language`),
  KEY `idx_flashcard_lang` (`flashcard_id`,`language`),
  KEY `idx_language` (`language`),
  CONSTRAINT `FK_flashcard_translation_flashcard` FOREIGN KEY (`flashcard_id`) REFERENCES `flashcard` (`id_flashcard`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flashcard_translation`
--

LOCK TABLES `flashcard_translation` WRITE;
/*!40000 ALTER TABLE `flashcard_translation` DISABLE KEYS */;
/*!40000 ALTER TABLE `flashcard_translation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `google_token`
--

DROP TABLE IF EXISTS `google_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `google_token` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `access_token` longtext NOT NULL,
  `refresh_token` longtext DEFAULT NULL,
  `expires_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_C6DAA834A76ED395` (`user_id`),
  CONSTRAINT `FK_C6DAA834A76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `google_token`
--

LOCK TABLES `google_token` WRITE;
/*!40000 ALTER TABLE `google_token` DISABLE KEYS */;
/*!40000 ALTER TABLE `google_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `matiere`
--

DROP TABLE IF EXISTS `matiere`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `matiere` (
  `id_matiere` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `nom_matiere` varchar(255) NOT NULL,
  `coefficient_matiere` double NOT NULL,
  `section_matiere` varchar(255) NOT NULL,
  `type_matiere` varchar(255) NOT NULL,
  `heure_matiere` double NOT NULL,
  `code` varchar(10) NOT NULL,
  `description` longtext DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_matiere`),
  UNIQUE KEY `UNIQ_9014574A77153098` (`code`),
  KEY `IDX_9014574AA76ED395` (`user_id`),
  CONSTRAINT `FK_MATIERE_USER` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `matiere`
--

LOCK TABLES `matiere` WRITE;
/*!40000 ALTER TABLE `matiere` DISABLE KEYS */;
INSERT INTO `matiere` VALUES (3,NULL,'aaaaa',3,'Literature','Travaux dirigés',30,'gggg20','eeeee','2026-02-09 18:05:52',NULL),(4,NULL,'fffff',2,'Literature','Travaux dirigés',5,'zeze','ererereerererereeerere','2026-02-11 03:51:14',NULL),(6,NULL,'efererere',2,'Mathematics','Travaux dirigés',7,'ajajaja20','ghgjhkjl','2026-02-11 22:51:21',NULL),(7,NULL,'sfgsgsg',2,'Mathematics','Travaux pratiques',20,'hahaaaaaa','zztztztzt','2026-02-12 04:13:01',NULL),(8,NULL,'Mathematics',7,'Computer Science','Travaux pratiques',12,'mathe','add course mathematics','2026-02-12 09:49:55','2026-02-12 09:50:38');
/*!40000 ALTER TABLE `matiere` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification`
--

DROP TABLE IF EXISTS `notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notification` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `message` longtext DEFAULT NULL,
  `type` varchar(50) NOT NULL,
  `link` varchar(255) DEFAULT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`),
  KEY `IDX_BF5476CAA76ED395` (`user_id`),
  CONSTRAINT `FK_BF5476CAA76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification`
--

LOCK TABLES `notification` WRITE;
/*!40000 ALTER TABLE `notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pet`
--

DROP TABLE IF EXISTS `pet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pet` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `type` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `level` int(11) NOT NULL DEFAULT 1,
  `hunger` int(11) NOT NULL DEFAULT 50,
  `coins_spent` int(11) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`),
  KEY `IDX_E4529B85A76ED395` (`user_id`),
  CONSTRAINT `FK_E4529B85A76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pet`
--

LOCK TABLES `pet` WRITE;
/*!40000 ALTER TABLE `pet` DISABLE KEYS */;
INSERT INTO `pet` VALUES (1,24,'cat','sfer',2,0,200,'2026-02-17 21:34:46'),(2,25,'dragon','Luna',1,25,200,'2026-02-18 13:15:56'),(3,26,'fox','toto',1,0,200,'2026-02-18 18:07:46');
/*!40000 ALTER TABLE `pet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `planning`
--

DROP TABLE IF EXISTS `planning`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `planning` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `seance_id` int(11) NOT NULL,
  `date_debut` datetime NOT NULL,
  `date_fin` datetime NOT NULL,
  `color` varchar(30) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `feedback` smallint(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_planning_user` (`user_id`),
  KEY `IDX_planning_seance` (`seance_id`),
  CONSTRAINT `FK_planning_seance` FOREIGN KEY (`seance_id`) REFERENCES `seance` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_planning_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `planning`
--

LOCK TABLES `planning` WRITE;
/*!40000 ALTER TABLE `planning` DISABLE KEYS */;
/*!40000 ALTER TABLE `planning` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project`
--

DROP TABLE IF EXISTS `project`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `project` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `titre` varchar(255) NOT NULL,
  `description` longtext NOT NULL,
  `date_debut` date NOT NULL,
  `date_fin` date NOT NULL,
  `statut` varchar(50) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `IDX_2FB3D0EEA76ED395` (`user_id`),
  CONSTRAINT `FK_PROJECT_USER` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project`
--

LOCK TABLES `project` WRITE;
/*!40000 ALTER TABLE `project` DISABLE KEYS */;
/*!40000 ALTER TABLE `project` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project_share`
--

DROP TABLE IF EXISTS `project_share`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `project_share` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `project_id` int(11) NOT NULL,
  `shared_with_user_id` int(11) NOT NULL,
  `shared_by_user_id` int(11) NOT NULL,
  `role` varchar(20) NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_FC5394C4166D1F9C` (`project_id`),
  KEY `IDX_FC5394C442EBB09C` (`shared_with_user_id`),
  KEY `IDX_FC5394C4A88FC4FB` (`shared_by_user_id`),
  CONSTRAINT `FK_FC5394C4166D1F9C` FOREIGN KEY (`project_id`) REFERENCES `project` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_FC5394C442EBB09C` FOREIGN KEY (`shared_with_user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_FC5394C4A88FC4FB` FOREIGN KEY (`shared_by_user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project_share`
--

LOCK TABLES `project_share` WRITE;
/*!40000 ALTER TABLE `project_share` DISABLE KEYS */;
INSERT INTO `project_share` VALUES (1,7,25,24,'editor','2026-02-18 13:25:08');
/*!40000 ALTER TABLE `project_share` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_stress`
--

DROP TABLE IF EXISTS `question_stress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `question_stress` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `position` int(11) NOT NULL DEFAULT 0,
  `question_text_ques` longtext NOT NULL,
  `is_active_ques` tinyint(1) NOT NULL,
  `created_at_ques` datetime NOT NULL,
  `updated_at_ques` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_stress`
--

LOCK TABLES `question_stress` WRITE;
/*!40000 ALTER TABLE `question_stress` DISABLE KEYS */;
/*!40000 ALTER TABLE `question_stress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quiz_stress`
--

DROP TABLE IF EXISTS `quiz_stress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `quiz_stress` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `quiz_date_quiz` datetime NOT NULL,
  `answers_quiz` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`answers_quiz`)),
  `total_score_quiz` int(11) NOT NULL,
  `stress_level_quiz` varchar(50) NOT NULL,
  `interpretation_quiz` longtext NOT NULL,
  `created_with_ai_quiz` tinyint(1) NOT NULL,
  `ai_model_quiz` varchar(255) DEFAULT NULL,
  `ai_prompt_version_quiz` varchar(255) DEFAULT NULL,
  `created_at_quiz` datetime NOT NULL,
  `updated_at_quiz` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quiz_stress`
--

LOCK TABLES `quiz_stress` WRITE;
/*!40000 ALTER TABLE `quiz_stress` DISABLE KEYS */;
/*!40000 ALTER TABLE `quiz_stress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rating`
--

DROP TABLE IF EXISTS `rating`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rating` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `deck_id` int(11) NOT NULL,
  `stars` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `comment` longtext DEFAULT NULL,
  `tags` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`tags`)),
  `clarity` tinyint(1) DEFAULT NULL,
  `completeness` tinyint(1) DEFAULT NULL,
  `difficulty` tinyint(1) DEFAULT NULL,
  `usefulness` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_deck_rating` (`user_id`,`deck_id`),
  KEY `IDX_D88926E2A76ED395` (`user_id`),
  KEY `IDX_D88926E2111948DC` (`deck_id`),
  CONSTRAINT `FK_D88926E2111948DC` FOREIGN KEY (`deck_id`) REFERENCES `deck` (`id_deck`) ON DELETE CASCADE,
  CONSTRAINT `FK_D88926E2A76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rating`
--

LOCK TABLES `rating` WRITE;
/*!40000 ALTER TABLE `rating` DISABLE KEYS */;
INSERT INTO `rating` VALUES (1,25,6,3,'2026-02-17 20:02:05','2026-02-17 20:21:05',NULL,NULL,NULL,NULL,NULL,NULL),(2,25,13,3,'2026-02-17 20:02:19','2026-02-17 21:11:12',NULL,NULL,NULL,NULL,NULL,NULL),(3,25,15,1,'2026-02-17 20:02:33','2026-02-17 21:37:11','j\'adore','[\"well-structured\",\"exam-ready\"]',5,2,2,3);
/*!40000 ALTER TABLE `rating` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recommendation_stress`
--

DROP TABLE IF EXISTS `recommendation_stress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recommendation_stress` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `level` varchar(30) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_recommendation_stress_level` (`level`),
  KEY `idx_recommendation_stress_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recommendation_stress`
--

LOCK TABLES `recommendation_stress` WRITE;
/*!40000 ALTER TABLE `recommendation_stress` DISABLE KEYS */;
/*!40000 ALTER TABLE `recommendation_stress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `revision_flashcard`
--

DROP TABLE IF EXISTS `revision_flashcard`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `revision_flashcard` (
  `id_deck` int(11) NOT NULL,
  `id_flashcard` int(11) NOT NULL,
  PRIMARY KEY (`id_deck`,`id_flashcard`),
  KEY `idx_revision_deck` (`id_deck`),
  KEY `idx_revision_flashcard` (`id_flashcard`),
  CONSTRAINT `fk_revision_deck` FOREIGN KEY (`id_deck`) REFERENCES `deck` (`id_deck`) ON DELETE CASCADE,
  CONSTRAINT `fk_revision_flashcard` FOREIGN KEY (`id_flashcard`) REFERENCES `flashcard` (`id_flashcard`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `revision_flashcard`
--

LOCK TABLES `revision_flashcard` WRITE;
/*!40000 ALTER TABLE `revision_flashcard` DISABLE KEYS */;
/*!40000 ALTER TABLE `revision_flashcard` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seance`
--

DROP TABLE IF EXISTS `seance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seance` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `titre` varchar(255) NOT NULL,
  `type_seance` varchar(50) DEFAULT NULL,
  `description` longtext DEFAULT NULL,
  `partage_avec` longtext DEFAULT NULL,
  `statut` varchar(30) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `type_seance_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_user_id` (`user_id`),
  KEY `FK_seance_type_seance` (`type_seance_id`),
  CONSTRAINT `FK_seance_type_seance` FOREIGN KEY (`type_seance_id`) REFERENCES `type_seance` (`id`) ON DELETE SET NULL,
  CONSTRAINT `FK_seance_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seance`
--

LOCK TABLES `seance` WRITE;
/*!40000 ALTER TABLE `seance` DISABLE KEYS */;
INSERT INTO `seance` VALUES (1,3,'Math Study Session','Study','Review calculus chapter 5',NULL,'scheduled','2026-02-03 20:56:45','2026-02-03 20:56:45',NULL);
/*!40000 ALTER TABLE `seance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_gamification`
--

DROP TABLE IF EXISTS `student_gamification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_gamification` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `deck_id` int(11) DEFAULT NULL,
  `points` int(11) NOT NULL DEFAULT 0,
  `level` int(11) NOT NULL DEFAULT 1,
  `streak` int(11) NOT NULL DEFAULT 0,
  `last_activity` date DEFAULT NULL,
  `badges` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`badges`)),
  `total_decks_completed` int(11) NOT NULL DEFAULT 0,
  `total_correct_answers` int(11) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_USER` (`user_id`),
  KEY `IDX_DECK` (`deck_id`),
  CONSTRAINT `FK_GAMIFICATION_DECK` FOREIGN KEY (`deck_id`) REFERENCES `deck` (`id_deck`) ON DELETE SET NULL,
  CONSTRAINT `FK_GAMIFICATION_USER` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_gamification`
--

LOCK TABLES `student_gamification` WRITE;
/*!40000 ALTER TABLE `student_gamification` DISABLE KEYS */;
INSERT INTO `student_gamification` VALUES (1,25,NULL,340,4,1,'2026-02-18','[{\"name\":\"Master Deck\",\"date\":\"2026-02-18\"}]',2,24,'2026-02-18 08:28:22');
/*!40000 ALTER TABLE `student_gamification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `type_seance`
--

DROP TABLE IF EXISTS `type_seance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `type_seance` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_type_seance_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `type_seance`
--

LOCK TABLES `type_seance` WRITE;
/*!40000 ALTER TABLE `type_seance` DISABLE KEYS */;
INSERT INTO `type_seance` VALUES (3,'td');
/*!40000 ALTER TABLE `type_seance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(180) NOT NULL,
  `google_id` varchar(255) DEFAULT NULL,
  `roles` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`roles`)),
  `password` varchar(255) NOT NULL,
  `first_name` varchar(100) NOT NULL,
  `last_name` varchar(100) NOT NULL,
  `username` varchar(50) NOT NULL,
  `profile_pic` varchar(255) DEFAULT NULL,
  `phone_number` varchar(20) DEFAULT NULL,
  `gender` varchar(10) NOT NULL,
  `bio` longtext DEFAULT NULL,
  `student_id` varchar(100) DEFAULT NULL,
  `university` varchar(255) DEFAULT NULL,
  `is_banned` tinyint(1) NOT NULL DEFAULT 0,
  `banned_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  `ban_reason` longtext DEFAULT NULL,
  `created_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  `updated_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  `coins` int(11) NOT NULL DEFAULT 0,
  `avatar_type` varchar(50) DEFAULT NULL,
  `is_verified` tinyint(1) NOT NULL DEFAULT 1,
  `verification_token` varchar(100) DEFAULT NULL,
  `verification_token_expires_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  `face_descriptor` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`face_descriptor`)),
  `reset_password_token` varchar(100) DEFAULT NULL,
  `reset_password_token_expires_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_IDENTIFIER_EMAIL` (`email`),
  UNIQUE KEY `UNIQ_IDENTIFIER_USERNAME` (`username`),
  UNIQUE KEY `UNIQ_8D93D64976F5C865` (`google_id`)
) ENGINE=InnoDB AUTO_INCREMENT=201 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_settings`
--

DROP TABLE IF EXISTS `user_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `study_level` varchar(100) DEFAULT NULL,
  `weekly_goal` int(11) DEFAULT NULL,
  `interests` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`interests`)),
  `notification_enabled` tinyint(1) NOT NULL DEFAULT 1,
  `email_notifications` tinyint(1) NOT NULL DEFAULT 1,
  `theme_preference` varchar(20) NOT NULL DEFAULT 'light',
  `language` varchar(10) NOT NULL DEFAULT 'en',
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_5C844C5A76ED395` (`user_id`),
  CONSTRAINT `FK_5C844C5A76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=201 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_settings`
--

LOCK TABLES `user_settings` WRITE;
/*!40000 ALTER TABLE `user_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `well_being`
--

DROP TABLE IF EXISTS `well_being`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `well_being` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `entry_date_well` datetime NOT NULL,
  `mood_well` varchar(50) NOT NULL,
  `stress_level_well` int(11) NOT NULL,
  `energy_level_well` int(11) NOT NULL,
  `sleep_hours_well` double NOT NULL,
  `note_well` longtext DEFAULT NULL,
  `created_at_well` datetime NOT NULL,
  `updated_at_well` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `well_being`
--

LOCK TABLES `well_being` WRITE;
/*!40000 ALTER TABLE `well_being` DISABLE KEYS */;
INSERT INTO `well_being` VALUES (1,'2026-02-07 23:36:15','stressed',10,2,4,'so hello hello','2026-02-07 23:36:15',NULL),(3,'2026-02-08 00:02:20','okay',1,10,8,'ok','2026-02-08 00:02:20','2026-02-08 00:03:48'),(4,'2026-02-08 01:10:43','okay',5,7,7,'ok','2026-02-08 01:10:43',NULL),(5,'2026-02-11 07:14:00','great',3,2,5,'dgfhgjhkj','2026-02-11 07:14:00',NULL),(6,'2026-02-11 07:16:08','stressed',7,5,6,'gdfhgh','2026-02-11 07:16:08',NULL),(9,'2026-02-11 07:22:02','great',8,3,4,'zrefghfhg','2026-02-11 07:22:02',NULL),(11,'2026-02-11 08:36:55','okay',7,4,8,'','2026-02-11 08:36:55',NULL);
/*!40000 ALTER TABLE `well_being` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-22  2:43:13
